<template name="AllBuyOffer">
  <h1>All Sell Offers</h1>
  {{#IfLoggedIn}}
  <div class="well">

    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th>Textbook</th>
        <th>Condition</th>
        <th>Offer</th>
        <th>Expires</th>
        <th>Seller</th>
      </tr>
      </thead>

      <tbody>
      <tr>
        <td>{{book}}</td>
        <td>{{condition}}</td>
        <td>{{offer}}</td>
        <td>{{expires}}</td>
        <td>{{owner}}</td>
      </tr>
      </tbody>
    </table>

  </div>
  {{/IfLoggedIn}}
</template>