<template name="CasLogin">
    {{#if currentUser}}
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ currentUser.profile.name }}<b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="{{ pathFor 'ListStudent' }}"><i class="fa fa-user"></i> View Profile</a></li>
            {{#if isInRole 'admin'}}
            <li><a href="{{pathFor 'EditStudent'}}"><i class="fa fa-cogs"></i> Edit Profile</a></li>
            <li><a href="{{pathFor 'AddStudent'}}"><i class="fa fa-user-plus"></i> Add Student</a></li>
            <li><a href="{{pathFor 'ListUsers'}}"><i class="fa fa-group"></i> List Users</a></li>
            <li><a href="{{pathFor 'banUser'}}"><i class="fa fa-user-times"></i> Ban User</a></li>
            {{/if}}
            <li><a style="text-align: left" href="#" class="btn cas-logout"><i class="fa fa-sign-out"></i> Logout</a></li>
        </ul>
    </li>

    {{else}}
    <li><a href="#" class="navbar-link cas-login">Login to UH</a></li>
    {{/if}}
</template>