<template name="Footer">
  <footer>
    <div class="container">
      <h3>Need Help?</h3>
      <div class="row">
        <a style="font-size: 15px" href="https://github.com/textbookmania/Tomato/wiki">Wiki Page</a>
        <a style="font-size: 15px" href="http://textbookmania.github.io/Tomato/">GitHub</a>
      </div>
      <p style="margin: 10px" class="text-center text-muted">
        Department of Information and Computer Sciences <br/>
        University of Hawaii<br/>
        Honolulu, HI 96822
      </p>
    </div>
  </footer>
</template>