<template name="Header">
  {{#if isInRole 'banned'}}
  <h1>Banned</h1>
  {{else}}
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{pathFor 'Home'}}"></a>
      </div>
      <ul class="collapse navbar-collapse" id="main-nav">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-book fa-2x"></i><b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu">
              {{#if isInRole 'admin'}}
              <li><a href="{{pathFor 'AddTextbook'}}"><i class="fa fa-plus-circle"></i> Add Textbook</a></li>
              {{/if}}
              <li><a href="{{pathFor 'ListTextbook'}}"><i class="fa fa-list"></i> List Textbook</a></li>
            </ul>
          </li>
          <li class = "dropdown">
            <a class = "dropdown-toggle" data-toggle="dropdown" href="{{pathFor 'ListBuyOffer'}}"><i class="fa fa-shopping-cart fa-2x"></i><b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="{{pathFor 'AddBuyOffer'}}"><i class="fa fa-plus-circle"></i> Add Buy Offer</a></li>
              <li><a href="{{pathFor 'ListBuyOffer'}}"><i class="fa fa-list"></i> List Buy Offers</a></li>
            </ul>
          </li>
          <li class = "dropdown">
            <a class = "dropdown-toggle" data-toggle="dropdown" href="{{pathFor 'ListSellOffer'}}"><i class="fa fa-money fa-2x"></i><b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="{{pathFor 'AddSellOffer'}}"><i class="fa fa-plus-circle"></i> Add Sell Offer</a></li>
              <li><a href="{{pathFor 'ListSellOffer'}}"><i class="fa fa-list"></i> List Sell Offers</a></li>
            </ul>
          </li>

          <li class="dropdown">
            <a class = "dropdown-toggle" data-toggle="dropdown" href="{{pathFor 'ListMatches'}}"><i class="fa fa-users fa-2x"></i><b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="{{pathFor 'ListBooks'}}"><i class="fa fa-book"></i> My Books</a></li>
              <li><a href="{{pathFor 'ListMatches'}}"> <i class="fa fa-sitemap"></i> My Matches</a></li>
              <li><a href="{{pathFor 'ListAll'}}"><i class="fa fa-list"></i> All Books</a></li>
            </ul>
          </li>


          <li><a href="{{pathFor 'Help'}}"><i class="fa fa-info-circle fa-2x"></i></a></li>
          {{> CasLogin }}
        </ul>
      </ul>
    </div>
  </nav>
  {{/if}}
</template>