<template name="Home">
  {{#if isInRole 'banned'}}
  <h1>You have been banned from further using this site!</h1>
  {{else}}
  <div>
    {{> carousel}}
  </div>
  <div class="row" id="HomePage">
    <h1>Tomato Textbook Exchange</h1>
    <h2>Tomato Textbook Exchange is a website to help ICS students to buy and sell their textbooks.  You must be a University of Hawaii at Manoa student to use this site.</h2>
    <div class="row">
      <div class="col-sm-4">
        <h3>Buy Offers</h3>
        <p>Looking for a book? Create a buy offer, and get notified of potential sellers.</p>
      </div>
      <div class="col-sm-4">
        <h3> Sell Offers</h3>
        <p>Have textbooks you no longer use? Create a sell offer, and find potential buyers.</p>
      </div>
      <div class="col-sm-4">
        <h3>Matches</h3>
        <p>If you've posted a buy or sell offer, then we will find you people who meet your needs.</p>
      </div>
    </div>
  </div>
  {{/if}}
</template>