<template name="Home">
  <h1> Aloha, Welcome to Text Book Exchange</h1>

  <h2><b>Text Book Exchange</b> is a website where UH ICS students can buy and sell textbooks between students</h2>
  {{#IfLoggedIn}}
  <div class="grid">
    <div class="col-2-3">
      <div class="row">
        <a href="{{pathFor 'viewProfile'}}">
          <div class="col-md-1">
            <div class="well well-lg">
              <div class="navigations">
                <span title="View your profile"> <i class="fa fa-user"></i></span>
              </div>
            </div>
          </div>
        </a>

        <div class="col-md-1">
        </div>

        <a href="{{pathFor 'ListBuyOffer'}}">
          <div class="col-md-1">
            <div class="well well-lg">
              <div class="navigations">
                <span title="View Buy Offers"><i class="fa fa-shopping-cart"></i></span>
              </div>
            </div>
          </div>
        </a>

        <div class="col-md-1">
        </div>
        <a href="{{pathFor 'Matches'}}">
          <div class="col-md-1">
            <div class="well well-lg">
              <div class="navigations">
                <span title="View Matches"><i class="fa fa-users"></i></span>
              </div>
            </div>
          </div>
        </a>

        <div class="col-md-1">
        </div>
        <a href="{{ pathFor 'ListTextbook' }}">
          <div class="col-md-1">
            <div class="well well-lg">
              <div class="navigations">
                <span title="View Textbooks"><i class="fa fa-book"></i></span>
              </div>
            </div>
          </div>
        </a>

        <div class="col-md-1">
        </div>
        <a href="{{pathFor 'ListSellOffer'}}">
          <div class="col-md-1">
            <div class="well well-lg">
              <div class="navigations">
                <span title="View Sell Offers"><i class="fa fa-money"></i></span>

              </div>
            </div>
          </div>
        </a>

        <div class="col-md-1">
        </div>
        <a href="{{pathFor 'Help'}}">
          <div class="col-md-1">
            <div class="well well-lg">
              <div class="navigations">
                <span title="Help"> <i class="fa fa-info-circle"></i></span>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="col-1-3">
  </div>
  {{/IfLoggedIn}}
</template>
