<template name="Home">
  {{#if isInRole 'banned'}}
  <h1>You have been banned from further using this site!</h1>
  {{else}}
  <h1><b>What's on your book shelf?</b></h1>
  <h2>Buy and sell textbooks from your fellow UH ICS students at Text Book Exchange.</h2>
  <div class="grid">
    <div class="col-2-3">
      <div class="row">
        <a href="{{ pathFor 'ListStudent' }}">
          <div class="col-md-1">
            <div class="well well-lg">
              <div class="navigations">
                <span title="View your profile"> <i class="fa fa-user"></i></span>
              </div>
            </div>
          </div>
        </a>
        <div class="col-md-1">
        </div>
        <a href="{{pathFor 'ListBuyOffer'}}">
          <div class="col-md-1">
            <div class="well well-lg">
              <div class="navigations">
                <span title="View Buy Offers"><i class="fa fa-shopping-cart"></i></span>
              </div>
            </div>
          </div>
        </a>
        <div class="col-md-1">
        </div>
        <a href="{{pathFor 'ListMatches'}}">
          <div class="col-md-1">
            <div class="well well-lg">
              <div class="navigations">
                <span title="View Matches"><i class="fa fa-users"></i></span>
              </div>
            </div>
          </div>
        </a>
        <div class="col-md-1">
        </div>
        <a href="{{ pathFor 'ListTextbook' }}">
          <div class="col-md-1">
            <div class="well well-lg">
              <div class="navigations">
                <span title="View Textbooks"><i class="fa fa-book"></i></span>
              </div>
            </div>
          </div>
        </a>
        <div class="col-md-1">
        </div>
        <a href="{{pathFor 'ListSellOffer'}}">
          <div class="col-md-1">
            <div class="well well-lg">
              <div class="navigations">
                <span title="View Sell Offers"><i class="fa fa-money"></i></span>
              </div>
            </div>
          </div>
        </a>
        <div class="col-md-1">
        </div>
        <a href="{{pathFor 'Help'}}">
          <div class="col-md-1">
            <div class="well well-lg">
              <div class="navigations">
                <span title="Help"> <i class="fa fa-info-circle"></i></span>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="col-1-3">
  </div>
  {{/if}}

</template>