body {
  padding-top: 0px;  /* Move body of page below navbar. */
  background: url('/images/fabric_gray.png');
}

.header-image{
  background-image: url('/images/textbooksfeature.jpg');
  background-size: cover;
  background: url('/images/POSTfront.jpg');
  height: 200px;
  background-size: cover;
}


div.well.well-lg{
  display:block;
  border-radius:40%;
  border-color: black;
  font-size: 40px;
  color: tomato;
  background: url('/images/black.jpg');
  width: 77px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}
.well-lg{
  padding: 15px;
}

.well{
  text-align: center;
}

.btn-primary{
  color: black;
  background-color: tomato;
  border-color: tomato;
}

.btn{
  margin-bottom: 10px;
}

.navbar{
  border-radius: 0px;
  padding: 40px;
  background: url('/images/black.jpg');
  border: none;
  color: tomato;
  font-size: 20px;

}

a.navbar-brand{
  color: tomato;
  font-size: 50px;
}
footer{
  background: url('/images/black.jpg');
  color: tomato;
  padding: 20px;

}

p.text-center.text-muted{
  color: tomato;
}

.navbar-inverse{
}

ul{
  list-style-type: none;
}

.navbar-inverse .navbar-brand {
  color: tomato;
}

.navbar-inverse .navbar-nav > li > a {
  color: tomato;
  font-size: 24px;
}


th {
  text-align: center;
}
.table > tbody > tr > td{
  vertical-align: middle;
}


.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: transparent;
  color: white;
}


.offersHeader{
  text-align: left;
}
.alignleft {
  float: left;
  text-align: left;

}

.aligncenter {
  float: left;
  text-align: center;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

[class*='col-'] {
  padding-right: 27px;
  float: left;

}
[class*='col-']:last-of-type {
  padding-right: 0;
}
.col-2-3 {
  width: 66.66%;
}
.col-1-3 {
  width: 33.33%;
}

@media (min-width: 979px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
}

.navbar .dropdown-menu {
  margin-top: 0px;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus{
  background-color:transparent;
}