<template name="ListTextbook">
  <div class="well">
    <table class="table">
      <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Author</th>
        <th>ISBN</th>
        {{#if isInRole 'admin'}}
        <th>Edit</th>
        <th>Delete</th>
        {{/if}}
      </tr>
      </thead>
      <tbody>
      {{#each textbookList}}
      <tr>
        <td><img src="http://images.amazon.com/images/P/{{isbn}}.01._PE00_SCMZZZZZZZ_.jpg"></td>
        <td>{{title}}</td>
        <td>{{author}}</td>
        <td>{{isbn}}</td>
        {{#if isInRole 'admin'}}
        <td><a href="{{pathFor 'EditTextbook'}}">Edit</a></td>
        <td><a class="delete" href="#">Delete</a></td>
        {{/if}}
      </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
</template>
